pkgbase = matsya-calamares
	pkgdesc = Calamares installer framework for MatsyaOS
	pkgver = 3.2.60
	pkgrel = 3
	url = https://github.com/calamares/calamares
	arch = x86_64
	license = LGPL-2.1-only
	makedepends = extra-cmake-modules
	makedepends = qt6-tools
	makedepends = qt6-translations
	makedepends = cmake
	makedepends = boost
	depends = kconfig
	depends = kcoreaddons
	depends = kiconthemes
	depends = ki18n
	depends = kio
	depends = solid
	depends = yaml-cpp
	depends = kpmcore>=4.2.0
	depends = boost-libs
	depends = ckbcomp
	depends = hwinfo
	depends = qt6-svg
	depends = polkit-qt6
	depends = gtk-update-icon-cache
	depends = plasma-framework
	depends = squashfs-tools
	depends = libpwquality
	depends = efibootmgr
	depends = icu
	backup = usr/share/calamares/modules/bootloader.conf
	backup = usr/share/calamares/modules/displaymanager.conf
	backup = usr/share/calamares/modules/initcpio.conf
	backup = usr/share/calamares/modules/unpackfs.conf
	source = calamares-3.2.60::https://github.com/calamares/calamares/releases/download/v3.2.60/calamares-3.2.60.tar.gz
	source = 49-nopasswd-calamares.rules
	sha256sums = 9ec6c49f4e2316cd3058d402c2ab65efff02e3f09a0028d50f0359e5154e6c8c
	sha256sums = 56d85ff6bf860b9559b8c9f997ad9b1002f3fccc782073760eca505e3bddd176

pkgname = matsya-calamares
