pkgbase = matsya-grub
	pkgdesc = GNU GRand Unified Bootloader (2) - MatsyaOS patched build
	pkgver = 2.06
	pkgrel = 3
	url = https://www.gnu.org/software/grub/
	install = grub.install
	arch = x86_64
	arch = i686
	license = GPL3
	makedepends = git
	makedepends = rsync
	makedepends = xz
	makedepends = freetype2
	makedepends = ttf-dejavu
	makedepends = python
	makedepends = autogen
	makedepends = texinfo
	makedepends = help2man
	makedepends = gettext
	makedepends = device-mapper
	makedepends = fuse2
	makedepends = flex
	makedepends = libusb
	makedepends = sdl
	depends = sh
	depends = xz
	depends = gettext
	depends = device-mapper
	optdepends = freetype2: For grub-mkfont usage
	optdepends = fuse2: For grub-mount usage
	optdepends = dosfstools: For grub-mkrescue FAT FS and EFI support
	optdepends = efibootmgr: For grub-install EFI support
	optdepends = libisoburn: Provides xorriso for generating grub rescue iso using grub-mkrescue
	optdepends = os-prober: To detect other OSes when generating grub.cfg in BIOS systems
	optdepends = mtools: For grub-mkrescue FAT FS support
	optdepends = libusb: For grub-emu USB support
	optdepends = sdl: For grub-emu SDL support
	provides = grub=2.06
	provides = grub-common
	provides = grub-bios
	provides = grub-emu
	provides = grub-efi-x86_64
	conflicts = grub
	conflicts = grub-common
	conflicts = grub-bios
	conflicts = grub-emu
	conflicts = grub-efi-x86_64
	conflicts = grub-legacy
	replaces = grub
	replaces = grub-common
	replaces = grub-bios
	replaces = grub-emu
	replaces = grub-efi-x86_64
	options = !makeflags
	backup = etc/default/grub
	backup = etc/grub.d/40_custom
	backup = boot/grub/grub.cfg
	source = grub::git+https://git.savannah.gnu.org/git/grub.git#commit=ae94b97be2b81b625d6af6654d3ed79078b50ff6
	source = grub-extras::git+https://git.savannah.gnu.org/git/grub-extras.git#commit=8a245d5c1800627af4cefa99162a89c7a46d8842
	source = gnulib::git+https://git.savannah.gnu.org/git/gnulib.git#commit=4480dd39f2f8e59576dc03727d004ae996e26d6c
	source = https://ftp.gnu.org/gnu/unifont/unifont-13.0.06/unifont-13.0.06.bdf.gz
	source = grub-export-path.patch
	source = grub-add-GRUB_COLOR_variables.patch
	source = grub-archcraft-modifications.patch
	source = grub-archcraft-modifications-2.patch
	source = grub-use-efivarfs.patch
	source = 0001-grub-maybe_quiet.patch
	source = 0002-grub-gettext_quiet.patch
	source = 0003-grub-quick-boot.patch
	source = background.png
	source = grub.default
	source = grub.cfg
	source = update-grub
	source = grub-set-bootflag
	source = matsya-grub.hook
	validpgpkeys = E53D497F3FA42AD8C9B4D1E835A93B74E82E4209
	validpgpkeys = BE5C23209ACDDACEB20DB0A28C8189F1988C2166
	validpgpkeys = 95D2E9AB8740D8046387FD151A09227B1F435A33
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = b7668a5d498972dc4981250c49f83601babce797be19b4fdd0f2f1c6cfbd0fc5
	sha256sums = 63c611189a60d68c6ae094f2ced91ac576b3921b7fd2e75a551c2dc6baefc35e
	sha256sums = 4f91fda4262115a51fd8fdd7375160b8308b504b31bd6f1be6d2048d5e4a6ad2
	sha256sums = 04eb063c7f9ad3a92bdb30b67adab4653adab79d026a91088895e47b10dfa04d
	sha256sums = 9ea9a3a995c214039e5051fedb5247d56e8bb6db65b82c763bc0b72b59c13a49
	sha256sums = 20b2b6e7f501596b5cce6ffa05906980427f760c03d308d0e045cf2ecf47bb0e
	sha256sums = 4a0a90ae29c97b395c0610f6d78f3d39d57a7a4b41647ace9bcce4b864e19497
	sha256sums = 39d7843dfe1e10ead912a81be370813b8621794a7967b3cc5e4d4188b5bf7264
	sha256sums = 4cae03685c238a60169f1134165ff010faebddb5b3218d92d32e0b6729b27656
	sha256sums = cbbf203eb037f95db22c005692426a465de2d5d611954733df037f7826ebbb37
	sha256sums = 46b3a1bf2807d5acff0358e599df5faa2d6daf7f67ffdd100367277f832ebbfd
	sha256sums = 7fc95d49c0febe98a76e56b606a280565cb736580adecf163bc6b5aca8e7cbd8
	sha256sums = a6a3e6a7c2380aff66b6096d478aed790c927ceed551ce52c0c454191eb4e3aa
	sha256sums = 2eb199f510340cf8d190ba2fa80d5bdcf1e2e7ca53e8011af2ee62ea3b8dd03b
	sha256sums = b9fbe1395d1e4961f3d39feb3804049c5f7a6007ca389695a71f6f22279bf921

pkgname = matsya-grub
